@import '../../styles/variables.scss';
.AddTanksForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .AddTanksForm-form {
    width: 100%;
  }
}
