@import '../../styles/variables.scss';

.Transport_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 10px 20px;
  padding: 20px;
  width: 280px;
  border-radius: 20px;
  background-color: rgba($color: $secondary, $alpha: 0.05);
  border: 1px solid $secondary;

  .Transport_item {
  }

  .Transport_inputFiled {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    label {
      width: 165px;
    }
    input {
      width: 70px;
      text-align: center;
    }
  }
}
