@import '../../styles/variables.scss';
.TanksInputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .U53TanksInputs_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .TanksInputs_inputs {
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
  .TanksInputs_fieldset {
    direction: ltr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 300px;
    margin: 10px 5px;
    padding: 5px 0;
    border-radius: 5px 20px 5px;
    background-color: rgba($color: $secondary, $alpha: 0.05);

    legend {
      margin: 0 20px;
      span {
        font-size: 1.4rem;
        padding: 5px;
      }
    }

    .TanksInputs-inputfield {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      input {
        text-align: center;
      }
    }
  }
}
