@import '../../styles/variables.scss';
.ReportView_container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vw;

  .report_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .report_header_ref_name {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .report_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .report_footer_signature {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: flex-end;
    }
  }

  .report-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    .report-main-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .report-context {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .report-context_section {
        display: flex;
        flex-direction: column;
        margin: 0;

        h4 {
          margin: 5px;
        }

        .context_section_items {
          display: flex;
          flex-direction: row;
          gap: 2px;
        }
        .light-prodects-transport {
          display: flex;
          flex-direction: row;
          margin: 0;
          gap: 10px;
        }
      }
      .report-context_store {
        width: 300px !important;
      }

      .pumping {
        margin-top: 5px;
      }

      .report-context_store {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1px;
        grid-row-gap: 1px;

        .report_column {
          width: 140px;
        }
      }

      .report-context_blending {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1px;
        grid-row-gap: 1px;
      }

      .reprt_transport_section {
        display: flex;
        gap: 20px;
      }
      .hfo_a_ss_transport {
        display: flex;
        gap: 10px;

        .report_column {
          width: 160px;
          height: fit-content;
        }
      }
    }
  }

  .report_column {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid $dark;
    height: 100%;

    .report_column_header {
      font-weight: bold;
      background-color: rgba($secondary, 0.1);
      width: 100%;
      border-bottom: 1px solid $dark;
      text-align: center;
    }

    .report_column_body {
      width: 100%;
      text-align: center;
    }
    .report_column_body_row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid $dark;

      .report_column_body_row_subtitle {
        background-color: rgba($secondary, 0.07);
        border-left: 1px solid $dark;
      }

      span {
        width: 50%;
        text-align: center;
      }
    }
  }

  table {
    border: 1px solid $dark;
    .table_header {
      width: 200;
      font-weight: bold;
      background-color: rgba($secondary, 0.1);
      border-bottom: 1px solid $dark;
      text-align: center;
    }

    .table_cell {
      width: 200;
      border-bottom: 1px solid $dark;
      text-align: center;
    }

    tr:last-of-type {
      td {
        border: none;
      }
    }
  }

  @media print {
    padding: 10mm 20mm;
    @page {
      size: 50mm 150mm;
    }
  }
}
