@import '../../styles/variables.scss';
.ReportView_container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  .report_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;

    .report_header_ref_name {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .report_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .report_footer_signature {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: flex-end;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .report_body {
    height: 247mm;
    width: 180mm;

    .report-wrapper {
      margin-top: 5px;

      .report-main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px;
      }
      .report_sub_header {
        background-color: rgba($secondary, $alpha: 0.2);
        padding: 2px 5px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .report_row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $dark;
        width: 166px;
        height: 25px;

        .report_row_label {
          width: 60%;
          text-align: center;
          border-left: 1px solid $dark;
          background-color: rgba($secondary, $alpha: 0.05);
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .report_row_value {
          width: 40%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .crude_and_oil_receiving {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .oil_receiving {
          border: 1px solid $dark;
        }
        .crude {
          border: 1px solid $dark;
        }
      }

      .products_store {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        .report_store_items {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 1px;
          grid-row-gap: 1px;
          margin: 6px 0;

          .store_item {
            border: 1px solid $dark;
            width: 135px;
          }
          .report_sub_header {
            width: 133px;
          }
          .report_row {
            width: 133px;
          }
        }
      }

      .blending_and_pumbing {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        width: 100%;

        .report_pumbing {
          h4 {
            width: 75%;
          }
          .pumbing_items {
            border: 1px solid $dark;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 138px;

            .pumbing_items_header {
              background-color: rgba($secondary, $alpha: 0.05);
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-weight: 500;
              border: 1px solid $dark;
              width: 100%;

              .pumbing_column1,
              .pumbing_column2,
              .pumbing_column3,
              .pumbing_column4 {
                height: 20px;
              }
            }

            .pumbing_items_row {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid $dark;
              height: 100%;
              border-top: none;
              width: 100%;
            }

            .pumbing_column1 {
              text-align: center;
              background-color: rgba($secondary, $alpha: 0.05);
              width: 110px;
              border-left: 1px solid $dark;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .pumbing_column2 {
              text-align: center;
              width: 105px;
              border-left: 1px solid $dark;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .pumbing_column3 {
              text-align: center;
              width: 105px;
              border-left: 1px solid $dark;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .pumbing_column4 {
              text-align: center;
              width: 75px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .report_blending {
          .blending_items {
            border: 1px solid $dark;
            .blending_row {
              width: 220px;
            }
          }
        }
      }

      .light_transport {
        margin: 10px 0;

        .items_transport {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .gas_transport,
          .atk_transport,
          .rg_transport,
          .pg_transport {
            border: 1px solid $dark;
          }
        }
      }

      .non_light_transport {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin-top: 10px;
        height: 150px;

        .hfo_transport {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          height: 100%;

          .hfo_items {
            .hfo_items_header {
              background-color: rgba($secondary, $alpha: 0.05);
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-weight: 500;
              border: 1px solid $dark;
              width: 100%;

              .hfo_column1,
              .hfo_column2,
              .hfo_column3,
              .hfo_column4 {
                height: 25px;
              }
            }

            .hfo_items_row {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid $dark;
              border-top: none;
              width: 100%;
            }

            .hfo_column1 {
              text-align: center;
              background-color: rgba($secondary, $alpha: 0.05);
              width: 110px;
              border-left: 1px solid $dark;
              height: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .hfo_column2 {
              text-align: center;
              width: 105px;
              border-left: 1px solid $dark;
              height: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .hfo_column3 {
              text-align: center;
              width: 105px;
              height: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .asphalt_and_solidSulphur_transport {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          gap: 10px;
          width: 100%;
          height: 100%;

          .asphalt_transport {
            .asphalt_transport_rows {
              border: 1px solid $dark;
              border-top: none;
            }
          }

          .solidSulphur_transport {
            .solidSulphur_transport_rows {
              border: 1px solid $dark;
              border-top: none;
            }
          }
        }
      }

      .notes {
        margin-top: 10px;

        h4 {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

  @media print {
    padding: 10mm 20mm;
    @page {
      size: 210mm 297mm;
    }
  }
}
