@import '../../styles/variables.scss';
.Datepicker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px 10px;
  padding: 5px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: $borderRadius;
  background-color: rgba($color: $primary, $alpha: 0.4);

  label {
    font-size: 16px;
    font-weight: 500;
  }

  input {
    border: none;
    border-radius: $borderRadius;
    width: 120px;
    height: 27px;
    text-align: center;
    font-size: 16px;
  }
}
