@import '../../styles/variables.scss';

.tanksInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;

  .tanksInfo-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100vw;
  }

  .tanksInfo-column {
    width: 200px;
    text-align: center;
    margin: 5px;

    input {
      width: 90px;
      height: 30px;
    }
  }

  .tanksInfo-btn {
    display: block;
    width: 100px;
    height: 40px;
    background-color: $light;
    color: $dark;
    border: 1px solid $secondary;
    border-radius: $borderRadius;
    font-size: 1.4rem;
    margin: 10px auto;

    &:hover {
      cursor: pointer;
      background-color: $dark;
      color: $light;
    }
  }
}
